* {
  /* border: 1px solid black; */
}

:root {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  flex-direction: column;
}

body {
  border: 1px solid black;
  display: block;
  margin: auto 0;
  padding: 0;
}

#time-left {
  padding: 0;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  font-size: 4.20rem;
}

#time-num {
  margin: 0;
  padding: 8px;
  border: 3px solid rgb(188, 206, 222);
  border-radius: 10px;
  
}

#editor-block {
  display: flex;
  height: 150px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#label-block {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 10vh;
  margin: 30px;
  padding: 10px;
  align-items: center;
}

#break-label {
  display:flex;
  justify-content: center;
  align-items: center;
}

.numButton {
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.numLength {
  margin: 10px;
  font-size: 30px;
  width: 40px;
}


#label-subblock { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#session-label {
  display:flex;
  justify-content: center;
  align-items: center;
}


#pauseplay {
  display: flex;
  justify-content: center;
  margin: auto;
}

button#start_stop, button#reset {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#start_stop {
  width: auto;
  margin: 8px;
}

#reset {
  width: auto;
  margin: 8px;
}









